jobs:
- job: Windows
  pool:
    vmImage: 'vs2017-win2016'

  steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: 8.11.4

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      verbose: false

  - script: 'node node_modules/typescript/bin/tsc --version'
    displayName: 'Prepare sources'

  - task: Npm@1
    displayName: 'Compile sources'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run compile'

  - script: 'node node_modules/vscode/bin/test'
    displayName: 'Run tests'

- job: macOS
  pool:
    vmImage: 'macOS-10.13'

  steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: 8.11.4

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      verbose: false

  - script: 'node node_modules/typescript/bin/tsc --version'
    displayName: 'Prepare sources'

  - task: Npm@1
    displayName: 'Compile sources'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run compile'

  - script: 'node node_modules/vscode/bin/test'
    displayName: 'Run tests'

- job: Linux
  pool:
    vmImage: 'ubuntu-16.04'

  steps:
  - task: NodeTool@0
    displayName: 'Use Node 8.x'
    inputs:
      versionSpec: 8.11.4

  - task: Npm@1
    displayName: 'Install dependencies'
    inputs:
      verbose: false

  - script: 'node node_modules/typescript/bin/tsc --version'
    displayName: 'Prepare sources'

  - task: Npm@1
    displayName: 'Compile sources'
    inputs:
      command: custom
      verbose: false
      customCommand: 'run compile'

  - script: |
      set -e
      /usr/bin/Xvfb :10 -ac >> /tmp/Xvfb.out 2>&1 &
      disown -ar
    displayName: 'Start xvfb'

  - script: 'node node_modules/vscode/bin/test'
    displayName: 'Run tests'
    env:
      DISPLAY: :10