jobs:
- job: Windows
  pool:
    vmImage: 'windows-2019'

  steps:
  - template: steps/build.yml
  - template: steps/test.yml

- job: macOS
  pool:
    vmImage: 'macOS-10.15'

  steps:
  - template: steps/build.yml
  - template: steps/test.yml

- job: Linux
  pool:
    vmImage: 'ubuntu-20.04'

  steps:
  - template: steps/build.yml
  - template: steps/test-linux.yml
